@media screen {

body{
    background-image: url('https://images.pexels.com/photos/11595339/pexels-photo-11595339.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 1380px 919px;
}
#outercontainer{
    position: absolute;
    top:160px;
    left:337px;
    width: 50%;
    height: 70%;
}
#leftarrow{
    float: left;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    background:black;
    position: relative;
    top: 130px;
}
#rightarrow{
    float: right;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    background:black;
    position: relative;
    top: 130px;
}
#icon1{
    position: relative;
    left: 4px;
    top:-3px;
    color: ghostwhite;
}
#icon2{
    position: relative;
    right: -6px;
    top:-3px;
    color: ghostwhite;
}
.innercontainer{
    position: absolute;
    left:110px;
    width: 70%;
    height: 70%;
}
#circleicon{
    position: relative;
    top: 410px;
    left:330px;
}
.slide{
    display: none;
}
#mark1, #mark2, #mark3, #mark4{
    color: coral;
}
img{
    position: relative;
    width: 75vh;
    height: 50vh;
}
}